<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_number">Multiply this:</label>
  <input id="first_number" name="first_number" text="text">
  <label for="second_number">by this:</label>
  <input id="second_number" name="second_number" text="text">
  <button>Multiply!</button>
</form>
